header {
  background-color: rgb(178, 214, 242);
  text-align: center;
}
  
#main-title {
  text-align: center;
  color: rgb(4, 27, 97);
}

#skills-title {
  text-decoration: underline;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #d1def4;
  
}

h1 {
    text-align: center;
  font-style: oblique;
  color: #191647;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #fbf8f8;
}


.box {
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
}

.subheader {
  text-align: center;
  font-size: larger;
  color: #0a0a0b;
  font-weight: bold;
}

.home-btn {
  text-decoration: none;
  font-size: 18px;
  background-color: #191647;
  color: rgb(245, 243, 243);
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
}

.home-btn:hover {
  background-color: #cf7200;
}


* {
  font-family: opensans, sans-serif;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

.flex-container {
        display: flex;
        flex-wrap: nowrap;
      }
      
      .flex-container > div {
        background-color: #e9e9e4;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 28px;
        font-weight: bold;
        font-size: 15px;
      }
      
      @media (max-width: 600px) {
        .flex-container {
          flex-direction: column;
          align-items: center;
        }
      }